html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cf::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  margin: 0 auto;
  width: 1020px;
}

.latest {
  width: 640px;
  float: left;
}

.sidebar {
  width: 360px;
  float: right;
}